<div>
    <h3>Products here</h3>
    <input type="text" ng-model="name"/>
    <div my-directive1></div>
    <div my-directive2 kissa="{{jotain}}" products="products"></div>
    <div my-own-directive kaupunki="Kemi,fi"></div>
    <table class="prd_table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in products">
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
            </tr>
        </tbody>
    </table>
    
    <a href="/add">Add a product</a>
</div>